<h1>Dashboard {{name}}</h1>

<section id="form">

    <h3>Iniciar uma nova proposta</h3>

    <h4>Insira dados do cliente:</h4>

    <form method="post">

        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome">
        </div>

        <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" name="cpf">
        </div>

        <div class="form-group">
            <label>Endereço</label>
            <input type="text" class="form-control" name="endereco">
        </div>

        <div class="form-group">
            <label>CEP</label>
            <input type="text" class="form-control" name="cep">
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Cadastrar o cliente</button>
        </div>

    </form>
<br>
</section>